* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caixa principal */
.caixa {
    background: #e0dd2d;
    padding: 35px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Título */
.title {
    text-align: center;
    margin-bottom: 25px;
    color: black;
}

/* Inputs */
.grupo-input {
    margin-bottom: 18px;
}

.grupo-input label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #555;
}

.grupo-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.grupo-input input:focus {
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(141, 32, 126, 0.3);
}

/* Botão */
.botaoprimario {
    width: 90%;
    padding: 12px;
    background-color: #e0dd2d;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.botaoprimario:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}
.bntvoltar a
 {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    background-color: black;
    text-decoration: none;
    color:#e0dd2d ;
    border-radius: 14px;
    transition: 0.3s;
    position: absolute;
    top: 50px;
    left: 50px;
}

/* Responsivo */
@media (max-width: 400px) {
    .caixa {
        width: 90%;
        padding: 25px;
    }
}